* {
    margin: 0;
    padding: 0;
    line-height: 1.5;
}

html,body {
    font-size: 16px;
    background-color: #eff0f4;
}

/*------------头部------------*/
header {
    position: fixed;
    top: 0;
    width: 100%;
    line-height: 3rem;
    color: #fff;
    text-align: center;
    background-color: #5fc0cd;
}

header a {
    color: #fff;
    text-decoration: none;
}

.enroll {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    margin-left: 1rem;
    width: 30%;
    height: 1.5rem;
    text-align: left;
}

.close {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    margin-right: 1rem;
    width: 30%;
    height: 1.5rem;
    text-align: right;
}

.sign-in {
    font-weight: bold;
}

form {
    margin-top: 3.5rem;
}

form div {
    display: flex;
    margin-bottom: .5rem;
    background-color: #fff;
}

img {
    zoom: .5;
    vertical-align: middle;
    padding: 0 1rem;
    border-right: 1px solid #e1e5e7;
    margin: 1rem 0;
}

div input {
    margin: 1rem;
    outline: none;
    flex-grow: 1;
    border: none;
}

div input::placeholder {
    color: #e1e5e7;
}

input[type="button"] {
    background-color: #5fc0cd;
    width: 100%;
    color: #fff;
    line-height: 3rem;
    outline: none;
    border: none;
}

form + span {
    float: right;
    margin: .5rem;
}

form + span a {
    color: #5fc0cd;
}