html,body {
    font-size: 14px;
}

.header-flex {
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: .2rem 0;
    color: #29b078;
}

/*-------雪碧图及雪碧图内部定位-----------*/
.bg-sprite {
    position: relative;
    width: 90px;
    height: 24px;
    background: url("images/task8/img.png") no-repeat;
}

.bg-sprite a:first-child {
    position: absolute;
    top: 0;
    left: 0;
    width: 25px;
    height: 24px;
}

.bg-sprite a:nth-child(2) {
    position: absolute;
    top: 0;
    left: 32px;
    width: 25px;
    height: 24px;
}

.bg-sprite a:last-child {
    position: absolute;
    top: 0;
    left: 64px;
    width: 26px;
    height: 24px;
}
/*---------结束----------*/

/*-----导航栏-----------*/
nav {
    background-color: #29b078;
    height: 4.3rem;
}

nav .container {
    padding-right: 0;
}

.nav-flex {
    display: flex;
    justify-content: space-between;
    padding-right: 0;
}

.nav-flex a {
    display: inline-block;
    color: #fff;
    line-height: 4;
    padding: 0 15px;
}

.nav-flex a:hover {
    text-decoration: none;
    border-bottom: 4px solid #fff;
}
/*-----导航栏结束-----------*/

/*-------底部--------*/
footer {
    background-color: #29b078;
    color: #fff;
}

.ft-flex {
    height: 114px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 38px;
    margin-bottom: 1rem;
}

.gongzhonghao {
    height: 114px;
    margin-top: 38px;
}

.rt-margin {
    margin-right: 2rem;
}

.col-lg-2.col-md-2.col-sm-2.col-xs-2 {
    text-align: center;
}

.ft-center {
    text-align: center;
    line-height: 2;
    border-top: 1px solid #32c086;
    margin-top: 1rem;
}

footer a {
    display: inline-block;
    color: #fff;
    height: 1.5rem;
    line-height: 1.5;
}

footer a:hover {
    text-decoration: none;
    color: #fff;
    border-bottom: 1px solid #fff;
}