* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    background-color: #29bde0;
    font-size: 16px;
    color: #fff;
}

/*--------头部----------*/
header {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 1rem .5rem;
    text-align: center;
    border-bottom: 1px solid #74d4eb;
}

/*----------头部左侧图片-------------*/
.home {
    zoom: .5;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    margin-left: .5rem;
    margin-bottom: 1rem;
}


/*--------头部右侧图片------------*/
.info {
    width: 1.5em;
    height: 1.5em;
    border-radius: 50%;
    border: 2px solid #fff;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    margin-right: .5rem;
}

.info::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    margin-top: 3px;
    width: 3px;
    height: 3px;
    background-color: #fff;
    border-radius: 50%;
}

.info::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    margin-bottom: 3px;
    width: 3px;
    height: .6em;
    background-color: #fff;
}

.home a,
.info a {
    display: block;
    height: 1.5em;
}

/*-------------主页---------------*/

main {
    position: absolute;
    top: 3.5rem;
    bottom: 0;
    width: 100%;
    overflow: auto;
    overflow-x: hidden;
}

.wrap {
    padding: 0 2rem .5rem;
    width: 100%;
    margin: 0 auto;
}

.win {
    text-align: center;
    margin: 1rem 0;
}   

.win img {
    zoom: .5;
}

.text {
    color: #ffc865;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
}

.text p {
    display: inline-block;
    text-align: justify;
}

ul {
    list-style-type: none;
    margin: 0 auto;
    margin-top: 1rem;
    width: 80%;
}

.box {
    background-color: #fff;
    color: #a6a6a6;
    padding-bottom: 4rem; 
}

.infomation > div:first-child {
    color: #000;
    padding-bottom: 1rem;
}

.infomation {
    position: relative;
    padding: 0 2rem 1rem;
    border-bottom: 1px solid #ddd;
}

.time {
    position: absolute;
    top: .5rem;
    right: 2rem;
}

/*--------页脚-----------*/
footer {
    display: flex;
    justify-content: space-around;
    position: fixed;
    bottom: 0;
    background-color: rgba(41,189,224,.5);
    width: 100%;
    height: 4rem;
    padding: .5rem 0;
}

.left,
.right {
    text-align: center;
    border-radius: 10px;
    width: 40%;
}

footer a {
    display: block;
    color: #fff;
    font-weight: bold;
    line-height: 3rem;
    text-decoration: none;
}

.left {
    background-color: #f66f6f;
}

.right {
    background-color: #fbb435;
}