/*-------轮播图------------*/
.large_screen {
    display: block;
    height: 400px;
    background: url("images/task8/container.png") no-repeat 0 0/100% 100%;
}

.mobile_a,
.mobile_a img {
    display: block;
    width: 100%;
}

.carousel-caption {
    bottom: 100px;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: right;
}

.carousel-caption div:first-child {
    margin-right: 1rem;
}

.carousel-caption div:last-child {
    font-family: "宋体";
    font-size: 2.5rem;
}

.carousel-caption span {
    font-size: 4rem;
}

/*---------主页------------*/
main {
    background-color: #fafafa;
    padding-top: 100px;
}

.first-line {
    text-align: center;
}

.first-line img {
    zoom: .7;
}

.method {
    margin: 1rem;
    font-weight: 700;
}

.font-color {
    color: #999;
}

.line {
    border-right: 1px dashed #999;
}

.pad-first {
    padding-top: 15px;
    padding-bottom: 15px;
}

.first-center {
    margin-top: 3rem;
}

.green {
    color: #29b078;
}

.green img {
    margin-right: 1rem;
    zoom: .7;
    vertical-align: middle;
}

/*-------第二节-----------*/
h5 {
    text-align: center;
    font-weight: 700;
    margin-top: 70px;
    margin-bottom: 30px;
}

.number {
    width: 2rem;
    display: inline-block;
    box-shadow: 0 0 1px #999;
    color: #29b078;
    border-radius: 50%;
    text-align: center;
    line-height: 2rem;
}