* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    font-size: 16px;
    background-color: #29bde0;
}

/*------所有图片缩放至0.5倍-------------*/
img {
    zoom: .5;
}

/*-----------头部-------------*/
header {
    position: fixed;
    top: 0;
    width: 100%;
}

.header {
    width: 100%;
    height: 3.5rem;
    color: #fff;
    text-align: center;
    padding: 1rem .5rem;
    line-height: 1.5;
}

/*----------头部左侧菜单------------*/
.menu {
    position: relative;
    float: left;            /*-----------relative和stalic定位时可以使用float，absolute和fixed不可以----*/
    width: 1.2em;
    height: 1.4em;
    border: 2px solid #fff;
    margin-top: .8px;
}

.menu::before {
    content: "";
    width: .8em;
    height: 2px;
    background-color: #fff;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}

.menu::after {
    content: "";
    width: .8em;
    height: .5em;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    border-width: 2px;
    border-color: #fff;
    border-style: solid none;
}

/*-----------头部右侧关闭键-----------------*/
.close {
    width: 1.4em;
    height: 1.5em;
    position: relative;
    float: right;
    margin-top: .8px;
    transform: rotate(45deg);
}

.close::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    width: 1.4em;
    height: 2px;
    background-color: #fff;
}

.close::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    width: 2px;
    height: 1.5em;
    background-color: #fff;
}


/*---------音频----------*/
.audio {
    width: 100%;
    background-color: #b9e9f5;
    position: relative;
    padding-left: 1rem;
}

.audio::before {
    content: "";
    width: 0;
    height: 0;
    border: 5px solid transparent;
    border-bottom: none;
    border-top: 10px solid #b9e9f5;
    position: absolute;
    top: 100%;
    left: 1.5em;
}

.audio span {
    display: inline-block;
    padding: 1rem 0;
}

.audio img {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    margin-right: 1rem;
    zoom: .7;
}

.audio + div {
    color: #fff;
    margin-top: 1rem;
    margin-left: 1.5rem;
}

audio {
    position: absolute;
    top: 0;
    right: -240px;
    opacity: 0;
}

/*-------主页-----------*/
main {
    position: absolute;
    top: 10rem;
    bottom: 5rem;
    overflow: auto;
    overflow-x: hidden;
    width: 100%;
}

.flex {
    display: flex;
    justify-content: space-around;
    padding-bottom: 2rem;
}

.box {
    display: flex;
    flex-direction: column;
    border: 3px solid #fff;
    text-align: center;
    width: 5rem;
}

.person {
    color: #000;
    background-color: #f5c97b;
    padding: 1.5rem 0;
}

.number {
    background-color: #83b09a;
    color: #fff;
    font-size: 10px;
}

.wrap {
    position: relative;
}

.other {
    display: none;
    position: absolute;
    top: 110%;
    width: 5rem;
}

.photo{
    display: flex;
    justify-content: space-between;
}

.wrap:hover .other {
    display: block;
}

/*--------页脚--------*/
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer div {
    width: 80%;
    background-color: #fbb435;
    text-align: center;
    margin: .5rem auto;
}

footer a {
    display: block;
    color: #fff;
    width: 100%;
    text-decoration: none;
    padding: 1rem 0;
}