* {
    margin:0;
    padding:0;
}
body {
    background-color:#68cdd5;
    color:#fff;
    font-size:120%;
}
.header {
    padding-bottom:5%;
    margin:1% 0 0 2%;
}
.hmain {
    text-align:center;
    padding-bottom:5%;
}
.main {
    text-align:center;
    padding-bottom:10%;
    margin:0 15%;
}
.left{
    text-align:center;
    float:left;
    margin-left:12%;
}
.right {
    text-align:center; 
    float:right;
    margin-right:12%;
}
img {
    max-width:100%;
}
span {
    display:block;
}