* {
    margin: 0;
    padding: 0;
    line-height: 1.5;
}

html,body {
    font-size: 16px;
    background-color: #68cdd5;
    color: #fff;
}

img {
    zoom: .5;
}

.header {
    margin: .5rem;
}

.hmain {
    margin-top: 2rem;
    text-align: center;
}

.main {
    margin: 3rem;
    text-align: center;
}

.wrap {
    display: flex;
    justify-content: space-around;
}

.left,
.right {
    text-align: center;
}

.left span,
.right span {
    display: block;
}