* {
    margin:0;
    padding:0;
}
body {
    font-family:sans-serif;
    font-size:200%;
    line-height:1.2;
    color:#fff;
    background-color:#eff0f4;
}
.header {
    background-color:#5fc0cd;
    overflow:auto;
    padding:5.4% 4.6% 2.1% 4.6%;
}
.header1 {
    float:left;
}
.header2 {
    float:right;
}
.header3 {
    display:block;
    text-align:center;
    font-size:112.5%;
}
.header a {
    color:#fff;
    text-decoration:none;
}
.form div {
    background-color:#fff;
    margin-top:1.2%;
}
/*设定用于输入的input元素*/
.form div input {
    width:70%;
    margin:2% 0;
    font-size:inherit;
}
/*改变input元素中placeholder属性的字体颜色*/
.form div input::placeholder {
    color:#eff0f4;
}
/*利用子选择符设定点击按钮的样式*/
.form>input {
    display:block;
    background-color:#5fc0cd;
    width:100%;
    margin-top:5%;
    color:#fff;
    padding:2% 0;
    font-size:112.5%;
}
.form input {
    border:none;     /*隐藏input元素的边框*/
    outline:none;   /*隐藏当点击input元素所产生的焦点*/
}
/*利用紧邻同胞选择符对span元素进行浮动*/
.form+span {
    float:right;
    margin-bottom:30%;
}
/*为span元素中的a元素设定颜色，为span元素设定颜色由于继承原因导致a元素不会改变颜色*/
.form+span a {
    color:#5fc0cd;
}
/*图片与input元素相平*/
.form img,.form input {
    vertical-align:middle;
}
/*通过为img添加右边框与实现分隔线*/
.form img {
    padding:0 3%;
    border-right:3px solid #eff0f4;
    max-width:100%;
}