body {
    font-size:24px;
    font-family:sans-serif;
    color:#ffffff;
    background-color:#68cdd5;
}
.header {
    position:absolute;
    top:2%;
    left:1%;
}
.hmain {
    position:absolute;
    top:20%;
    left:40%;
}
.main {
    position:absolute;
    top:40%;
    left:15%;
    width:70%;
}  
.left {
    position:absolute;
    top:80%;
    right:80%;
    text-align:center;
}
.right {
    position:absolute;
    top:80%;
    left:80%;
    text-align:center;
}
span {
    display:block;
}